div {
    display: block;
    margin-left: auto;
    column-gap: 40px;
    margin-right: auto;
    height: auto;
    width: auto;
}
h1 {
    color: blue;
    text-align: center;
}
.card-deck {
    margin-right: auto;
    margin-left: auto;
}
table {
    margin-right: auto;
    margin-left: auto;
