{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{% include './navbar.html' %}
{% block test %}
    <h1>Pat and Ryan's Sentiment Thin Slice</h1>
    <div class="row">
        <div class="column">
            <div class="card" style="width: 25rem;, heigh: 25rem;">
            <img src="../static/sentiment-chart.png" class="card-img-top" alt="chart">
            <div class="card-body">
                <p class="card-text">AAII Sentiment</p>
                </div>
            </div>
        </div>
                <div class="card" style="width: 25rem;">
                <img src="../static/unemployment-chart.png" class="card-img-top" alt="chart">
                <div class="card-body">
                    <p class="card-text">Weekly Initial Jobless Claims</p>
                </div>
                </div>
            <div class="card" style="width: 25rem;, height: 25rem;">
            <img src="../static/cons-chart.png"
             <div class="card-body">
                 <p class="card-text">Consumer Sentiment</p>
             </div>
             </div>
            </div>

    {% endblock %}
</body>
</html>